<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413988909663-jt5uol9993n8uqokh6lbbsjfrp16ce7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413988909663-jt5uol9993n8uqokh6lbbsjfrp16ce7c</string>
	<key>API_KEY</key>
	<string>AIzaSyDbY0ZtqAwWtIcdk8IC-BE-MISIS6XfmeA</string>
	<key>GCM_SENDER_ID</key>
	<string>413988909663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>consulta-esperta-app</string>
	<key>STORAGE_BUCKET</key>
	<string>consulta-esperta-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413988909663:ios:d643f9368a752b49c261ea</string>
	<key>DATABASE_URL</key>
	<string>https://consulta-esperta-app.firebaseio.com</string>
</dict>
</plist>